<!DOCTYPE html>
<div class="container m-5">
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Balance</th>
                <th>Company</th>
                <th>E-mail</th>
                <th>Phone</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.balance}}</td>
                <td>{{user.company}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>
                    <button type="button" id="info" class="btn btn-outline-light m-1" (click)="showInfo(i)">Info</button>
                    <button type="button" id="edit" class="btn btn-outline-light m-1" (click)="edit(i)">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>